MINIO_ROOT_USER=user
MINIO_ROOT_PASSWORD=password

# MinIO endpoint
MINIO_ENDPOINT=http://minio:9000
MINIO_ALIAS=minio
MINIO_BROWSER_REDIRECT_URL=http://localhost/console/
MINIO_DOMAIN=localhost

# Buckets. Can add new buckets with pattern BUCKET_Number
BUCKET_1=ontologies
BUCKET_2=images
BUCKET_3=backups

# Optional flags. Can add flags to buckets with pattern BUCKET_FLAG_NUMBER
BUCKET_PUBLIC_2=true
BUCKET_VERSIONING_3=true
