# MinIO root credentials (только для инициализации)
MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=minioadmin123
MINIO_BROWSER_REDIRECT_URL=http://localhost/console/
MINIO_ALIAS=myminio
MINIO_ENDPOINT=http://minio:9000

# Бакеты
BUCKET_0=ontologies
BUCKET_PUBLIC_0=false
BUCKET_VERSIONING_0=true

# Application credentials (используем в бэкенде!)
MINIO_APP_USER=app-user
MINIO_APP_PASSWORD=appsecure123!
MINIO_APP_ENDPOINT=http://localhost:9000
MINIO_APP_BUCKET_NAME=ontologies
