# MinIO root credentials (только для инициализации)
MINIO_ROOT_USER=***
MINIO_ROOT_PASSWORD=***
MINIO_BROWSER_REDIRECT_URL=http://localhost/console
MINIO_ALIAS=myminio
MINIO_ENDPOINT=http://minio:9000

# Бакеты
BUCKET_0=ontologies
BUCKET_PUBLIC_0=false
BUCKET_VERSIONING_0=true

MINIO_APP_USER=***
MINIO_APP_PASSWORD=***
MINIO_APP_ENDPOINT=http://minio:9000
MINIO_APP_BUCKET_NAME=ontologies

LLM_TEMPERATURE=0.01
LLM_MAX_TOKENS=4096
LLM_PARALLEL_TASK_MODE=true

SERVICE_NAME=llm-parser
SERVICE_ENV=local

YANDEX_API_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/completion
YANDEX_AUTH_TOKEN=***
YANDEX_MODEL_PACKAGE=***

BACKEND_HOST=http://backend:8000
BACKEND_UPLOAD_PATH=/api/questionnaire/upload
BACKEND_METADATA_PATH=/api/questionnaire/metadata/upload