YANDEX_API_URL=https://llm.api.cloud.yandex.net/foundationModels/v1/completion
YANDEX_AUTH_TOKEN=***
YANDEX_MODEL_PACKAGE=***

LLM_TEMPERATURE=0.01
LLM_MAX_TOKENS=4096
LLM_PARALLEL_TASK_MODE=true

SERVICE_NAME=llm-parser
SERVICE_ENV=local